<%- include('header') %>

<div class="content-wrapper">
    <section class="content-header">
        <h1><%= title %></h1>
    </section>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Player ID</th>
                                    <th>Facebook Id</th>
                                    <th>Vip</th>
                                    <th>Vip Bank</th>
                                    <th>Table Chips</th>
                                    <th>Bank</th>
                                    <th>Reg Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(function(d) { %>
                                    <tr>
                                        <td><%= d.referral_code %></td>
                                        <td><%= d.username || '' %></td>
                                        <td>
                                            <span class="label label-success"> <%= d.VIP %></span>
                                        </td>
                                        <td><%= d.vipbank %></td>
                                        <td><%= d.wallet %></td>
                                        <td><%= d.bank %></td>
                                        <td><%= d.created_at %></td>
                                        <td class="actions text-center">
                                            <a href="<%= host %>/user/view/<%= d.id %>" target="_blank" class="on-editing save-row">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include('footer') %>

<script>
    $(document).ready(function() {
        $('#example1').DataTable({
            destroy: true,
            dom: 'lBfrtip',
            lengthMenu: [
                [10, 25, 100, 500],
                [10, 25, 100, 500]
            ],
            searching: true,
            buttons: [
                {
                    extend: 'excel',
                    text: '<span class="fa fa-file-excel-o"></span> Excel Export',
                    exportOptions: {
                        modifier: { search: 'applied', order: 'applied' }
                    }
                },
                {
                    extend: 'pdf',
                    text: '<span class="fa fa-file-pdf-o"></span> PDF Export',
                    exportOptions: {
                        modifier: { search: 'applied', order: 'applied' }
                    }
                }
            ],
            responsive: true,
            processing: true,
            serverSide: true,
            ajax: '/vipusers_ajax',
            deferLoading: '<%= total %>',
            aaSorting: [],
            sortField: 5,
    sortOrder: '-1',
            columnDefs: [
                { orderable: true, targets: [0, 6, 3, 4] },
                { orderable: false, targets: [1, 2, 7] }
            ]
        });
    });
</script>
